.page{
  display: flex;
  flex-direction: column;
}
.headers{
  display: flex;
  background-color: #090a2f;
  width: 100vw;
  height: 48px;
  align-items: center;
  padding: 0 5vw;
  justify-content: space-between;
}
.header_button_list{
  display: flex;
  height: 48px;
  align-items: center;
}
.header_button{
  color: white;
  font-size: 24px;
  margin: 0 1rem;
}
.header_profile{
  color: white;
  font-size: 24px;
}
.contents{
  width: 100vw;
  height: calc(100vh - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}
